body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 15fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.headbar{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2vh
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh
}